@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  background-color: black;
}

.center {
  text-align: center;
}

.imageContainer {
  position: relative;
}

.bannerImage {
  width: 100%;
  height: auto;
}

.textOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

/* Header styles */
header {
  background-color: #000000;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between; /* Align items horizontally */
}

nav ul li {
  margin-right: 10px;
}

@media (max-width: 768px) {
  header {
    padding: 10px; /* Reduce padding for mobile */
  }

  .textOverlay h1 {
    font-size: 24px; /* Reduce font size for mobile */
  }

  nav ul {
    flex-direction: row; /* Change to horizontal layout on mobile */
    justify-content: center; /* Center items horizontally */
  }

  nav ul li {
    margin-right: 0; /* Remove right margin for mobile */
    margin-bottom: 10px; /* Add bottom margin for mobile */
  }
}
